.footer {
    background-color: var(--dark-blue);
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    p {
      color: #fff;
    }
    span {
      color: orangered;
    }  
  }
  